*{
				font-size: 12px;
				font-family: "微软雅黑";
			}
			body{
				overflow: hidden;
			}
			.menu{
				margin: 0px;
				padding-left: 20px;
			}
			.menu_head{
				width: 185px;
				height: 30px;
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				line-height: 30px;
			}
			.menu_head a{
				display: block;
				text-align: center;
				text-decoration: none;
				font-size: 14px;
				color: black;
			}
			.menu_body{
				margin: 0px;
				padding: 0px;
			}
			.menu_body img{
				margin: 0px;
				padding: 0px;
			}
			.menu_body a{
				margin: 0px;
				padding: 0px;
				width: 185px;
				height: 26px;
				display: block;
				text-align: center;
				line-height: 26px;
				text-decoration: none;
				background-repeat: no-repeat;
				color: black;
				background-position-y: bottom;
				background-color: orange;
				
			}
			.menu_body a:checked{
				margin: 0px;
				padding: 0px;
				width: 182px;
				height: 26px;
				display: block;
				text-align: center;
				text-decoration: none;
				background-repeat: no-repeat;
				color: black;
				background-position-x:-20px;
				background-position-y: center;
				overflow: hidden;
			}
			.menu_body a:hover{
				margin: 0px;
				padding: 0px;
				width: 182px;
				height: 26px;
				display: block;
				text-align: center;
				text-decoration: none;
				background-repeat: no-repeat;
				color: black;
				background-position-x:-20px;
				background-position-y: center;
				overflow: hidden;
				background-color: orangered;
			}