body{
	margin: 0px;
	padding: 0px;
}
.notice{
	width: 900px;
	height: 200px;
	margin: auto;
	/*background-color: yellow;*/
}
.p1{
	font-family: "微软雅黑";
	font-size: 18px;
}
.a1{
	color: black;
	text-decoration: none;
	font-family: "微软雅黑";
}
.a1:hover{
	color: darkviolet;
	text-decoration: underline;
}