
table{
	border: 1px solid gainsboro;
	text-align: center;
}
td{
	border: 1px solid gainsboro;
}
.font1{
	font-family: "新宋体";
	font-weight: bold;
	font-size: 12px;
}
.font2{
	font-family: "新宋体";
	font-size: 12px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;
}
