		*{
			font-size: 12px;
			font-family: "微软雅黑";
		}
		.main{
			margin: 0px;
			width: 99%;
			padding: 0px;
			margin: 0px;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
		}
		.top{
			margin: 0px;
			padding: 0px;
			width: 100%;
			height: 29px;
			background-image: url(../img/content-bg.gif);
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			position: absolute;
			top: 0;
			left: 0;
		}
		.list{
			margin: 0px;
			padding: 0px;
			width: 85px;
			height: 29px;
			position: absolute;
			top: 0px;
			left: 10px;
			background-image: url(../img/top_bt.jpg);
			text-align: center;
			line-height: 32px;
			font-weight: bold;
		}
		.body{
			margin: 0px;
			padding-left: 10px;
			padding-right: 8px;
			padding-bottom: 30px;
			width: 98.1%;
			height: auto;
			border: 2px gainsboro solid;
			position: absolute;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			top: 29px;
			left: 0;
			overflow: hidden;
		}
		